= stylesheet_link_tag    'dashboard', media: 'screen', 'data-turbolinks-track': 'reload'
= render 'partials/sidebar_toggle_script'
= render 'partials/dashboard_navigation'

.sideNav#sideNav
    .closebtn
        .exit 
            %button{:onclick => "closeSideNav()"}
                X
    %a{:href => '#'} Markets
    %a{:href => '#'} SovaCrypto
    %a{:href => '#'} Crypto News
    %a{:href => '#'} My Account




