= stylesheet_link_tag    'dashboard', media: 'screen', 'data-turbolinks-track': 'reload'

= render 'partials/dashboard_navigation'
= render 'partials/sidebar_toggle_script'

#navbarToggleExternalContent.collapse
    .sidenav
        %a{:href => '#'} Link 1
        %a{:href => '#'} Link 2
        %a{:href => '#'} Link 3
        %a{:href => '#'} Link 4








