<script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='949b394a07f6207cb8a8e88ba7e0c7fc01d277389c6e6f7d949de7f7723daefd';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>
%h2
    = content_for(:title, "Subscribe")
%nav.navbar.fixed-top.navbar-custom.navbar-expand-lg
    %a.navbar-brand{:href => "/", :class => "home"}
        %div{:class => "logo"}
        %div{:class => "sym"}
            SC<span>XV</span>
.landing
    .coin_logo
    .landing_headline
        %h2
            SovaCryptoXV
        %h6
            Using blockchain, smart contracts, and cryptocurrency to help create wealth worldwide.
    .ico_attr
        .ico_points
            %i{:class => "fab fa-ethereum fa-3x", :style=> "color: white"}
            %h5
                ERC20 Token
            .ico_p
                %p 
                    Built via smart contracts on the Ethereum blockchain giving complete flexibility and functionality.
        .ico_points
            %i{:class => "fas fa-lock fa-3x", :style=> "color: white"}
            %h5
                Secure and Efficient
            .ico_p
                %p 
                    Using Blockchain & Smart contracts to  securely fund, rebalance, and monitor the performance of the  SOVA15 crypto index.
        .ico_points
            %i{:class => "fas fa-balance-scale fa-3x", :style=> "color: white"}
            %h5
                Balanced Portfolio
            .ico_p
                %p 
                    Equal balance weighting of 15 of the best performing crypto assets with weekly rebalancing autonomously all in one coin.
        .ico_points
            %i{:class => "fas fa-exchange-alt fa-3x", :style=> "color: white"}
            %h5
                Exchange Listed
            .ico_p
                %p 
                    SCXV token soon to be listed on multiple global crypto exchanges. 24/7 trading in liquid markets around the world.
    .coming_soon
        .coming_soon_text
            %h3
                SCXV 
            %h5 
                The First Tokenized Equal Weight Cryptocurrency Index
            %p 
                Introducing SOVA15 an efficient and secure way to aquire a diversified crypto portfolio.  Using Blockchain technology you can now obtain a basket of the best performing crypto assets all in one coin.  The index will simultaneously  be used as a barometer for the crypto markets, while providing the convenience of a fund in a single token , minimizing risk and streamlining  potential ROI.
            %br
            %a.btn.btn-outline-dark.btn-lg.jumbo-btn{:href => "#", :role => "button"}
                %i{:class => "fas fa-paperclip", :style => "color: black"} 
                WhitePaper
    .landing_footer
        .flex_footer
            All rights reserved Copyright © 2018 SovaCrypto
            %a{:href=> "https://twitter.com/share", :class => "btn btn-primary btn-sm"}
                %i{:class => "fab fa-twitter fa-lg"}
                Share on Twitter!
            .fb-share-button{"data-href" => "http://www.sovacrypto.com/landing", "data-layout" => "button_count", "data-mobile-iframe" => "true", "data-size" => "large"}
                %a.fb-xfbml-parse-ignore{:href => "https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.sovacrypto.com%2Flanding&src=sdkpreparse", :target => "_blank"} Share
