%nav.navbar.fixed-top.navbar-custom.navbar-expand-lg
    %a.navbar-brand{:href => "#", :class => "home"}
        %div{:class => "logo"}
        %div{:class => "sym"}
            SC<span>XV</span>
    .collapse.navbar-collapse#navbarNav.justify-content-end
        %a.nav-link{:href => "#"}
            About
        %a.nav-link{:href => "#"}
            ICO
        %a.nav-link{:href => "#"}
            How to Join
        %a.nav-link{:href => "#"}
            Contact Us
        = link_to('Landing', landing_path, class: "nav-link")
