%nav.navbar.fixed-top.navbar-custom.navbar-expand-lg
    %a.navbar-brand{:href => "#", :class => "home"}
        %div{:class => "logo"}
        %div{:class => "sym"}
            .sym_container
                SC<span>XV</span>
    #navbarNav
        %a.nav-link{:href => "#"}
            About
        %a.nav-link{:href => "#"}
            Sign-Up
        %a.nav-link{:href => "#"}
            Contact Us
