%nav.navbar.fixed-top.navbar-custom.navbar-expand-lg
    %a.navbar-brand{:href => "#", :class => "home"}
        %div{:class => "logo"}
        %div{:class => "sym"}
            .sym_container
                SC<span>XV</span>
    #navbarNav
        %button.sign-up-btn
            %a.nav-link#sign-up{:href => new_user_registration_path}
                Signup
        %a.nav-link.dashboard#login{:href => new_user_session_path}
            %div.nav-icon
                Login
        %a.nav-link.dashboard#dashboard{:href => "/dashboard"}
            %div.nav-icon 
                Dashboard
        