// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//$font-url: 'https://fonts.googleapis.com/css?family=Oswald:300,400,600';
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600');


// ***** DEFAULTS ***** //
// ***** DEFAULTS ***** //
// ***** DEFAULTS ***** //
// ***** DEFAULTS ***** //

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$bgdefault: #c0392b;
$bodyfont: 'Oswald', sans-serif;

html {
    font-family: $bodyfont;
}

// ***** NAVIGATION BAR ***** //
// ***** NAVIGATION BAR ***** //
// ***** NAVIGATION BAR ***** //
// ***** NAVIGATION BAR ***** //

.navbar, .navbar-toggler-icon, button {
    background: $bgdefault;
}

.navbar-dark {
    height: 100%;
}

.navbar > button {
    border: none;
    cursor: pointer;
}


// ***** SIDE NAVIGATION BAR ***** //
// ***** SIDE NAVIGATION BAR ***** //
// ***** SIDE NAVIGATION BAR ***** //
// ***** SIDE NAVIGATION BAR ***** //

.sideNav {
    height: 100%;
    width: 0%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.sideNav a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    padding: 6% 0 5% 0;
    border-bottom: 0.5px solid red;
    font-size: 1.5em;
}

.exit button {
    font-size: 2.5em;
    border-bottom: none;
    width: 10%;
    height: 100%;
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
}

.exit {
    background: black;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.sideNav a:nth-child(2) {
    border-top: 0.5px solid red;
}

.sideNav a:hover {
    background: black;

}

@media (max-width: 800px) {
    sideNav a {
        justify-content: flex-start;
        text-align: left;
        margin-left: 5px;
    }

    .exit button {
        width: 30%;
    }
}
