// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//$font-url: 'https://fonts.googleapis.com/css?family=Oswald:300,400,600';
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600');


// ***** DEFAULTS ***** //

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$bgdefault: #c0392b;
$bodyfont: 'Oswald', sans-serif;

html {
    font-family: $bodyfont;
}

body {
    margin-top: 4%;
}


// ***** NAVIGATION BAR ***** //

.navbar {
    height: 6%;
    background-color: $bgdefault;
}


// ***** SIDE NAVIGATION BAR ***** //

.sidenav {
    height: 100%;
    width: 200px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    padding-top: 20px;
}

.dimmed {
    body {
        background-color: grey;
    }
}
// ***** CONTENT CONTAINER ***** //

// .content-container > .container {
//     border: 2px solid blue;
//     min-height: 86vh;
//     max-width: 100%;
// }


// ***** FOOTER ***** //

.footer {
    position: fixed;
    bottom: 0;
    height: 20px;
    background: rgba(0, 0, 0, 0.8);
}

.footer > .container {
    height: 100%;
}

.text-muted {
    font-size: 8pt;
}